body {
    margin: 0px;
    padding: 0px;
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding: 50px 70px;
    padding-bottom: 200px;
}

p {
    font-size: 21px;
    padding: 20px;
}

img {
    border-radius: 10px;
    border: 2px solid #070707;
    box-shadow: #d62839 0px 0px 1px, #d62839 0px 0px 10px;

}

.noticias {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.noticias h1 {
    padding: 50px 0px;
    font-size: 40px;
}

.noticia {
    background-color: #442222;
    width: 60%;
    border-radius: 10px;
    box-shadow: #d62839 0px 0px 1px, #d62839 0px 0px 10px;
    padding-bottom: 30px;
}

.noticia h2 {
    padding: 50px 0;
    font-size: 30px;
}

@media(max-width: 768px) {

    main {
        padding: 50px 30px;
    }

    .noticia {

    width: 90%;


}
}