main {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 100px;
    color: #fff;
    margin-bottom: 100px;
}

.titulo-mobile {
    display: none;
}

.tabela-produtos {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    color: #fff;
    gap: 10px;
}

.produto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: #442222;
    border: #ff0000 solid 1px;
    padding: 20px 10px;
    width: 300px;
    height: 600px;
}

.botao-comprar {
    text-decoration: none;
    color: #fff;
    background-color: rgb(9, 116, 14);
    padding: 15px;
    border-radius: 10px;
}

.botao-comprar:hover {
    background-color: rgb(14, 207, 24);
}

.capas {
    width: 200px;
    border: 2px solid #ff0000;
}

.mais-inf {
    font-size: 25px;
    color: #442222;
    background-color: #fff;
    border-radius: 5px;
    padding: 3px;
}

.mais-inf:hover {
    background-color: #442222;
    color: #fff;
}

@media(max-width: 768px) {

    main {

    }

    .tabela-produtos {
        flex-direction: column;
        margin-left: 0px;
    }

    .titulo-desktop {
        display: none;
    }

    .titulo-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding-bottom: 50px;
    }
    .titulo-mobile p {
        font-size: 30px;
    }
}