body {
    text-align: center;
    color: #fff;
    justify-content: center;
}

form {
    background-color: #442222;
    padding: 40px;
    border-radius: 10px;
    box-shadow: #d62839 0px 0px 100px;
    text-align: start;
    align-items: center;
    display: inline-block;  
    margin-top: 100px;
    margin-bottom: 200px;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, textarea {
    padding: 5px;
}

.revenda {
    margin-top: 10px;
    color: #fff;
    text-align: center;
}

.botao {
     display: flex;
    justify-content: center;
    margin-top: 10px;
}

.postar {
   font-size: larger;
    border-radius: 10px;
    background-color: #5a9d45;
    color: #fff;
    border: 2px solid #000000;
    padding: 4px;
    margin-top: 10px;
}

.postar:hover {
  background-color: #35607d;
  cursor: pointer;
}

#anuncio {
    margin-bottom: 10px;
}

#campo-anexo {
    margin-top: 10px;
    margin-bottom: 10px;
}
