body{
    background-image: url(assets/fundo4.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

p {
    padding-bottom: 50px;
}
.corpo-sobre {    
    margin-top: 100px;
    margin-bottom: 200px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 21px;
    color: #eae8e8;
    text-align: center;
}